doctype html

title nanopay

meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
meta(name='mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-capable', content='yes')
//-link(rel='manifest', href='manifest.json')
link(rel='stylesheet', href='style.css')
if req
  meta(name='csrf', content=req.csrfToken())

#app
  nav.navbar.navbar-dark.bg-primary.mb-3: .container: span.navbar-brand nanopay
  #loader

script document.write('<link rel="stylesheet" href="bootswatch/'+(JSON.parse(localStorage.conf||'{}').theme||'yeti')+'/bootstrap.min.css">')
script(src='lib/instascan.js', defer)
script(src='app.js', defer)
