doctype html

title Spark

meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel='stylesheet', href='style.css')

if process.env.BUILD_TARGET == 'web'
  meta(name='mobile-web-app-capable', content='yes')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='access-key', content=settings ? settings.accessKey : '{{accessKey}}')
  link(rel='manifest', href='manifest-'+(settings ? settings.manifestKey : '{{manifestKey}}')+'/manifest.json')

if process.env.BUILD_TARGET != 'web'
  //- unsafe-eval is required for instascan, which is not used in cordova builds
  - unsafeEval = process.env.BUILD_TARGET !== 'cordova' ? "script-src 'self' 'unsafe-eval'; " : ''
  meta(http-equiv='Content-Security-Policy', content=unsafeEval+"default-src 'self' gap:; font-src 'self' data:; img-src 'self' data:; connect-src *")

  //- when served over the web, this is set using an HTTP header instead of meta tag

body(class='build-'+process.env.BUILD_TARGET)

  #app: .loading
    nav.navbar.navbar-dark.bg-primary.mb-3: .container: span.navbar-brand Spark
    #loader

  script(src='load-theme.js')

  script(src=bundle || 'app.js', defer)

  if process.env.BUILD_TARGET == 'web' || process.env.BUILD_TARGET == 'electron'
    script(src='lib/instascan.js', async)

  if process.env.BUILD_TARGET == 'cordova'
    script(src='cordova.js', defer)
