doctype html

title Spark

meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
meta(name='mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-capable', content='yes')
link(rel='stylesheet', href='style.css')

link(rel='manifest', href='manifest.json?key='+(settings && settings.manifestKey))

body(class='build-'+process.env.BUILD_TARGET)

  #app
    nav.navbar.navbar-dark.bg-primary.mb-3: .container: span.navbar-brand Spark
    #loader

  script document.write('<link rel="stylesheet" href="swatch/'+(JSON.parse(localStorage.conf||'{}').theme||'yeti')+'/bootstrap.min.css">')

  if process.env.BUILD_TARGET == 'web'
    script(src='lib/instascan.js', defer)

  script(src=bundle || 'app.js', defer)

  if process.env.BUILD_TARGET == 'cordova'
    script(src='cordova.js', defer)
