<?xml version='1.0' encoding='utf-8'?>
<widget id="com.spark.wallet" version="0.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Spark</name>
    <description>A minimalistic wallet GUI for c-lightning</description>
    <author email="nadav@shesek.info" href="https://github.com/shesek">Nadav Ivgi</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="bitcoin:*" />
    <platform name="android">
        <icon density="ldpi" src="res/android/icon-36-ldpi.png" />
        <icon density="mdpi" src="res/android/icon-48-mdpi.png" />
        <icon density="hdpi" src="res/android/icon-72-hdpi.png" />
        <icon density="xhdpi" src="res/android/icon-96-xhdpi.png" />
        <icon density="xxhdpi" src="res/android/icon-144-xxhdpi.png" />
        <icon density="xxxhdpi" src="res/android/icon-192-xxxhdpi.png" />
    </platform>
    <plugin name="cordova-plugin-customurlscheme" spec="^4.3.0">
        <variable name="URL_SCHEME" value="lightning" />
        <variable name="ANDROID_SCHEME" value=" " />
        <variable name="ANDROID_HOST" value=" " />
        <variable name="ANDROID_PATHPREFIX" value="/" />
    </plugin>
    <plugin name="cordova-plugin-screen-orientation" spec="^3.0.1" />
    <plugin name="cordova-plugin-qrscanner" spec="^2.6.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-local-notification" spec="https://github.com/katzer/cordova-plugin-local-notifications.git#caff55ec758fdf298029ae98aff7f6a8a097feac" />
    <preference name="android-targetSdkVersion" value="28" />
    <engine name="android" spec="^7.1.4" />
</widget>
