.git
cordova/platforms
cordova/www
cordova/plugins
electron/dist
electron/www
electron/server.bundle.js
client/dist
client/www/*.css
dist
spark-wallet-*-npm.tgz
node_modules
**/node_modules
doc
docker-builds
.dockerignore
Dockerfile
scripts/builder.Dockerfile
scripts/release.sh
.env
