doctype html

title nanopay

meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='csrf', content=req.csrfToken())
//-link(rel='manifest', href='assets/manifest.json')
link(rel='stylesheet', href='assets/style.css')

#app
  nav.navbar.navbar-dark.bg-primary.mb-3: .container: span.navbar-brand nanopay
  #loader

script document.write('<link rel="stylesheet" href="assets/bootswatch/'+(JSON.parse(localStorage.conf||'{}').theme||'yeti')+'/bootstrap.min.css">')
script(src='assets/instascan.js', defer)
script(src='app.js', defer)
