doctype html

title Flash Wallet

meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='csrf', content=req.csrfToken())
link(rel='stylesheet', href='assets/bootstrap.css')
link(rel='stylesheet', href='assets/style.css')

#app

script(src='assets/instascan.js')
script(src='app.js')
