doctype html

html.h-100
  title= settings.title
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='csrf', content=req.csrfToken())
  link(rel='stylesheet', href='static/bootstrap.css')

  body.h-100
    video#cam.h-100.w-100.d-none

    //-.container.d-flex.h-100: .justify-content-center.align-self-center.text-center.mx-auto

      h1.mb-4 Lightning Wallet
      video#cam

  script(src='static/jquery.js')
  script(src='static/bootstrap.js')
  script(src='script.js')
