.modal.fade
 .modal-dialog.modal-sm
   .modal-content.alert.alert-success
     .modal-body.text-center
       h5 Payment successful!
       p Thank you for using Lightning.
       button.btn.btn-success(type='button', data-dismiss='modal') Continue
