body
  padding-bottom 2rem

.break-word
  word-break break-word

.scanqr video
  width 100%

.payments .badge
  font-size 120%

.alert
  font-size 0.9rem

  .close
    color #fff

img.qr
  width 100%
  max-width 300px
