@import('loader.styl')

body
  margin 0

// avoid FOUC before bootstrap loads
// (this is later overridden by bootstrap's css)
body
  font-size 0px
.btn, .form-control
  display none

html, body, #app
  height 100%

#app > .flex-column
  min-height 100%


footer
  font-size 65%

.flex-grow
  flex 1

.break-word
  word-break break-word

.disabled
  opacity 0.5
  pointer-events none


.alert
  font-size 0.9rem
  font-weight 400


.scanqr video
  width 100%

.payments .badge
  font-size 100%

.logs
  white-space pre-line

img.qr
  width 100%
  max-width 300px
