body
  // avoid FOUC before bootstrap loads
  font-size 0px

html, body, #app
  height 100%

#app > .flex-column
  min-height 100%

.flex-grow
  flex 1

.break-word
  word-break break-word

.scanqr video
  width 100%

.payments .badge
  font-size 100%

.alert
  font-size 0.9rem
  font-weight 400

img.qr
  width 100%
  max-width 300px
