[Unit]
Description=Spark Lightning Wallet
Requires=lightningd.target
After=lightningd.target

[Service]
User={user}
Group={user}
Restart=on-failure

ExecStart={cmd}

SyslogIdentifier=spark-wallet
PIDFile=/var/run/spark-wallet.pid
StandardInput=null
StandardOutput=syslog
StandardError=syslog

# Hardening measures
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true

[Install]
WantedBy=multi-user.target
