@import 'nib'
@import 'loader'
@import 'icons'
@import 'tooltip'
@import 'theme-touchups'
@import 'qr'

// avoid FOUC before bootstrap loads
// (this is later overridden by bootstraps css)
body
  font-size 0px

.btn, .form-control
  display none

// Layout
html, body, #app
  height 100%

#app > .flex-column
  min-height 100%

// Header, content & footer
.navbar-brand
  position relative

  .icon
    position absolute
    left -20px

    &:before
      vertical-align middle

.content
  flex 1
  position relative
  overflow-x hidden

#app footer
  font-size 65%

// Helpers
.flex-grow
  flex 1

.break-all
  word-break break-all

.disabled
  opacity 0.5
  pointer-events none

// Component
.alert
  font-size 0.9rem
  font-weight 400

.btn-link
  cursor pointer

// Homepage
.feed
  .list-group-item
    // originally 0.75rem, some is removed to make room for the badge margin
    padding-bottom 0.25rem
  .badge
    margin-bottom 0.5rem
  .badge.amt
    font-size 100%
  .badge.ts
    margin-top 0.19rem

// Confirm outgoing payments
.conf-pay
  h2
    margin-bottom 1rem

// Recv
.waiting-payment
  img.qr
    width 100%
    max-width 300px

  h2
    margin-top 1rem
    margin-bottom 1rem

  @media (min-width: 576px) and (max-width: 767.98px)
    h2
      margin-top 1.5rem
      font-size 1.6rem
    h3
      font-size 1.4rem

  @media (min-width: 768px)
    margin-top 2rem
    padding 2rem 3rem
    border 1px solid #ccc

    h2
      margin-top 2rem
      margin-bottom 1.5rem
    h3
      margin-bottom 2rem

// Logs
.logs
  white-space pre-line

