@import 'nib'
@import 'loader'
@import 'icons'
@import 'theme-touchups'
@import 'qr'

html
  touch-action manipulation

// avoid FOUC before bootstrap loads
// (this is later overridden by bootstraps css)
body
  font-size 0px

.btn, .form-control, .row
  display none

// Disable dotted outline on mobile
a:focus, .btn:focus
  outline 0

// Layout
html, body, #app
  height 100%

#app > .flex-column
  min-height 100%

// Enlarge base document rem to fill up large displays
html
  @media (min-height: 600px)

    @media (min-width: 530px)
      font-size 1.25rem

    @media (min-width: 576px)
      font-size 1.3rem

    @media (min-width: 768px)
      font-size 1.5rem

    @media (min-width: 992px)
      font-size 1.5rem

      .container
        max-width 960px

// Header, content & footer
.navbar-brand
  position relative

  .icon
    position absolute
    left -1.3rem

    &:before
      vertical-align middle

.content
  flex 1
  position relative
  overflow-x hidden

#app footer
  font-size 65%
  margin-top 1rem
  margin-bottom 0.5rem
  padding-top 0.5rem
  padding-bottom env(safe-area-inset-bottom)

  p
    margin-bottom 0

// Helpers
.flex-grow
  flex 1

.break-all
  word-break break-all

// Component
.alert
  font-size 0.9rem
  font-weight 400

.btn-link
  cursor pointer

// Homepage
.feed
  .list-group-item
    // originally 0.75rem, some is removed to make room for the badge margin
    padding-bottom 0.25rem
    // disable bg hover effect on touch devices, they get stuck in hover state
    @media (hover:none)
      &:hover
        background inherit
    // disable focus/active effects entirely, they're not needed here
    &:focus, &:active
      background inherit

  .badge
    margin-bottom 0.5rem
  .badge.amt
    font-size 100%
  .badge.ts
    margin-top 0.19rem

    @media (min-width: 440px)
      font-size 100%
      margin-top 0

  .list-group-item ul li
    margin-bottom 0.5rem

    &:last-child
      margin-bottom 0

    small
      font-weight inherit
    pre
      color inherit !important

// Confirm outgoing payments
.conf-pay
  h2
    margin-bottom 1rem

// Recv
.waiting-payment
  margin-top 1rem

  img.qr
    width 100%
    max-width 300px

  h2
    margin-top 1rem
    margin-bottom 1rem

  @media (min-width: 576px) and (max-width: 767.98px)
    h2
      font-size 25px
    h3
      font-size 21px
    small
      font-size 12px

  @media (min-width: 768px) and (max-width: 991.98px)
    h2
      font-size 34px
    h3
      font-size 26px
    small
      font-size 15px

  @media (min-width: 992px)
    h2
      font-size 45px
    h3
      font-size 35px
    small
      font-size 18px

// Logs
.logs
  white-space pre-line

