.theme-slate   .navbar-brand .icon { left: -2px }
.theme-slate   .navbar-brand .icon:before { vertical-align: baseline }
.theme-lux     .navbar-brand .icon:before { vertical-align: text-top }
.theme-cosmo   .navbar-brand .icon:before { vertical-align: text-top }
.theme-journal .navbar-brand .icon:before { vertical-align: baseline }

.theme-slate .navbar-brand
  border-right 0

.theme-cyborg, .theme-darkly
  .input-group-text { color: #fff }

.theme-pulse
  .list-group-item
    &, &:hover, &:focus
      background transparent

.theme-pulse, .theme-sketchy
  .list-group-item ul
    font-weight normal

// these themes have space for a larger timestamp
.theme-yeti, .theme-dark, .theme-materia, .theme-lumen
  .feed .badge.ts
    font-size 100%
    margin-top 0

// explicitly style .main-bg with the theme's main background color
// when scanning QRs, so that it covers the QR video

body.qr-scanning
  .main-bg { background: #fff }
  .theme-dark .main-bg { background: #222 }
  .theme-darkly .main-bg { background: #222 }
  .theme-simplex .main-bg { background: #FCFCFC }
  .theme-slate .main-bg { background: #272B30 }
  .theme-solar .main-bg { background: #002B36 }
  .theme-superhero .main-bg { background: #2B3E50 }
  .theme-cyborg .main-bg { background: #060606 }
