.theme-slate   .navbar-brand .icon { left: -2px }
.theme-materia .navbar-brand .icon { left: -23px }
.theme-lux     .navbar-brand .icon:before { vertical-align: text-top }
.theme-cosmo   .navbar-brand .icon:before { vertical-align: text-top }
.theme-journal .navbar-brand .icon:before { vertical-align: baseline }

.theme-cyborg, .theme-darkly
  .input-group-text { color: #fff }


.main-bg
  background #fff

  .theme-dark & { background: #222 }
  .theme-darkly & { background: #222 }
  .theme-simplex & { background: #FCFCFC }
  .theme-slate & { background: #272B30 }
  .theme-solar & { background: #002B36 }
  .theme-superhero & { background: #2B3E50 }
  .theme-cyborg & { background: #060606 }
